:root { 
--gray_700:#666666; 
--gray_301:#e0e0e0; 
--deep_orange_A200:#f86338; 
--gray_901:#1a242d; 
--gray_800:#505050; 
--gray_900:#11142d; 
--lime_900:#7a6005; 
--gray_300:#e2e2ea; 
--gray_100:#f3f6f8; 
--bluegray_900:#333333; 
--bluegray_300:#9a9ab0; 
--deep_orange_A201:#f3692e; 
--white_A700:#ffffff; 
}