
 @font-face { font-style : bold; src: url("assets/fonts/dmsansbold700.ttf"); font-family : "DM Sans"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/dmsansmedium500.ttf"); font-family : "DM Sans"; font-weight : 500;  }
 @font-face { font-style : bold; src: url("assets/fonts/merriweatherbold700.ttf"); font-family : "Merriweather"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/dmsansregular400.ttf"); font-family : "DM Sans"; font-weight : 400;  }